:root {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 1.4;
  font-weight: 400;
  color: #f7e7b8;
  background: #1d120b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: auto;
}
